h1{
    text-align: center;
}
div{
    width: 80%;
    margin: 0 auto;
    background-color: blanchedalmond;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    padding: 0 8px;
}
.items{
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}